<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
}
a {
  border: 3px solid black;
  margin: 3px;
  padding: 3px;
}
</style>
</head>
<body> 
    <div><a href="/">Radar</a><a href="/map">Maps</a> <a href="/static/description.html">Description</a> <a href="/static/about.html">About</a> </div>
  <h1>Neighborhood Health</h1>
<form method="POST">
   {{ form_score.hidden_tag() }}
    <div style="height:100px">{{ form_score.scores.label }} {{ form_score.scores(rows=10, multiple=True) }} {{ form_score.submit() }}</div>
   <div style="color:red">
   {% for message in get_flashed_messages() %}
      {{ message }}
   {% endfor %}
   </div>
</form>
{% if ch_map != "" %}
 <div>{{ ch_map | safe }}</div> 
{% endif %}
</body>
</html>
